@keyframes loopBg {
	0% {
		background-position: 0 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes floating {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(-60%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
